<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.x.yh.mapper.TaskMapper">

	<resultMap id="taskVo" type="com.x.yh.context.vo.TaskVo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="month" property="month" jdbcType="VARCHAR" />
		<result column="profit" property="profit" jdbcType="INTEGER" />
		<result column="tourists" property="tourists"
			jdbcType="INTEGER" />
		<result column="actualprofit" property="actualprofit"
			jdbcType="INTEGER" />
		<result column="actualtourists" property="actualtourists"
			jdbcType="INTEGER" />
		<result column="actualscore" property="actualscore"
			jdbcType="DOUBLE" />
		<result column="companyid" property="companyid"
			jdbcType="INTEGER" />
		<result column="companyname" property="companyName"
			jdbcType="VARCHAR" />
		<result column="teamid" property="teamid" jdbcType="INTEGER" />
		<result column="teamname" property="teamName"
			jdbcType="VARCHAR" />
		<result column="othercost" property="othercost" jdbcType="INTEGER" />
	</resultMap>

	<select id="selectTeamMonthTaskVo" resultMap="taskVo">
		select t_task.*, t_company.id as companyid,
		t_team.`name` teamname, t_company.`name` as companyname from t_task
		LEFT JOIN t_team ON t_task.teamid = t_team.id LEFT JOIN t_company ON
		t_team.companyid = t_company.id WHERE t_task.teamid=
		#{teamid,jdbcType=INTEGER} AND t_task.`month`=
		#{month,jdbcType=VARCHAR}
	</select>

	<select id="selectCompanyMonthTaskVo" resultMap="taskVo">
		select t_task.`month`, t_company.id as companyid,
		sum(t_task.profit) as profit, sum(t_task.tourists) as tourists,
		sum(t_task.actualprofit) as actualprofit, sum(t_task.actualtourists)
		as actualtourists, avg(t_task.actualscore) as actualscore, sum(t_task.othercost) as othercost,
		t_company.`name` as companyname from t_task LEFT JOIN t_team ON
		t_task.teamid = t_team.id LEFT JOIN t_company ON t_team.companyid =
		t_company.id where t_company.id = #{companyid,jdbcType=INTEGER} AND
		t_task.`month`= #{month,jdbcType=VARCHAR} GROUP BY t_company.id
	</select>

	<select id="queryTaskVoByCompany" resultMap="taskVo">
		select t_company.id as companyid,
		sum(t_task.profit) as profit, sum(t_task.tourists) as tourists,
		sum(t_task.actualprofit) as actualprofit, sum(t_task.actualtourists)
		as actualtourists, avg(t_task.actualscore) as actualscore, sum(t_task.othercost) as othercost,
		t_task.`month`, t_company.`name` as companyname from t_task LEFT JOIN
		t_team ON t_task.teamid = t_team.id LEFT JOIN t_company ON
		t_team.companyid = t_company.id where t_company.id =
		#{companyid,jdbcType=INTEGER} GROUP BY `month` ORDER BY t_task.`month`
		desc limit 12
	</select>

	<select id="queryTaskVoByTeam" resultMap="taskVo">
		select t_task.*, t_company.id as companyid,
		t_team.`name` teamname, t_company.`name` as companyname from t_task
		LEFT JOIN t_team ON t_task.teamid = t_team.id LEFT JOIN t_company ON
		t_team.companyid = t_company.id WHERE t_task.teamid=
		#{teamid,jdbcType=INTEGER} ORDER BY t_task.`month` desc limit 12
	</select>

</mapper>