<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.x.yh.mapper.TaskMapper">

	<resultMap id="taskVo" type="com.x.yh.context.vo.TaskVo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="month" property="month" jdbcType="VARCHAR" />
		<result column="profit" property="profit" jdbcType="INTEGER" />
		<result column="tourists" property="tourists"
			jdbcType="INTEGER" />
		<result column="actualprofit" property="actualprofit"
			jdbcType="INTEGER" />
		<result column="actualtourists" property="actualtourists"
			jdbcType="INTEGER" />
		<result column="actualscore" property="actualscore"
			jdbcType="DOUBLE" />
		<result column="companyid" property="companyid"
			jdbcType="INTEGER" />
		<result column="companyname" property="companyName"
			jdbcType="VARCHAR" />
		<result column="departmentid" property="departmentid"
			jdbcType="INTEGER" />
		<result column="departmentname" property="departmentName"
			jdbcType="VARCHAR" />
		<result column="teamid" property="teamid" jdbcType="INTEGER" />
		<result column="teamname" property="teamName"
			jdbcType="VARCHAR" />
		<result column="othercost" property="othercost" jdbcType="INTEGER" />
	</resultMap>

	<select id="selectTeamTaskVo" resultMap="taskVo">
		select t_task.*, t_company.id as companyid, t_company.`name` as companyname,
		t_department.id as departmentid, t_department.name as departmentname,
		t_team.`name` as teamname from t_task
		LEFT JOIN t_team ON t_task.teamid = t_team.id 
		LEFT JOIN t_department ON t_department.id = t_team.departmentid 
		LEFT JOIN t_company ON t_department.companyid = t_company.id
		WHERE t_task.teamid= #{teamid,jdbcType=INTEGER}
		AND t_task.`month`= #{month,jdbcType=VARCHAR}
	</select>

	<select id="queryTeamTaskVo" resultMap="taskVo">
		select t_task.*, t_company.id as companyid, t_company.`name` as companyname,
		t_department.id as departmentid, t_department.name as departmentname,
		t_team.`name` as teamname from t_task
		LEFT JOIN t_team ON t_task.teamid = t_team.id 
		LEFT JOIN t_department ON t_department.id = t_team.departmentid 
		LEFT JOIN t_company ON t_department.companyid = t_company.id
		<where>
			<choose>
			    <when test="teamid != null">
			      t_task.teamid = #{teamid}
			    </when>
			    <when test="departmentid != null">
			      t_department.id = #{departmentid}
			    </when>
			    <when test="companyid != null">
			      t_company.id = #{companyid}
			    </when>
			    <otherwise>
			    </otherwise>
			</choose>
			<if test="month != null">
				AND t_task.month = #{month}
			</if>
		</where>
		ORDER BY t_task.`month` desc limit ${limit}
	</select>

</mapper>