<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.x.yh.mapper.TeamMapper">

	<resultMap id="teamVo" type="com.x.yh.context.vo.TeamVo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="companyid" property="companyid"
			jdbcType="INTEGER" />
		<result column="companyname" property="companyName"
			jdbcType="VARCHAR" />
		<result column="departmentid" property="departmentid"
			jdbcType="INTEGER" />
		<result column="departmentname" property="departmentName"
			jdbcType="VARCHAR" />
	</resultMap>

	<select id="queryTeamVo" resultMap="teamVo">
		SELECT t_team.*, t_department.name as departmentname, t_company.id as companyid,
		t_company.name as companyname From t_team LEFT JOIN t_department ON t_department.id = t_team.departmentid
		LEFT JOIN t_company
		on t_department.companyid = t_company.id
		<where>
		   <if test="departmentid != null">
		        t_department.id = #{departmentid}
		   </if>
		   <if test="companyid != null">
		       AND t_company.id = #{companyid}
		   </if>
		 </where>
	</select>

</mapper>